* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  height: 160vh;
}
.c1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: aqua;
}
.c2 {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: blueviolet;
}
.c3 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgb(15, 4, 26);
}
.c4 {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(110, 13, 206);
}
.c6 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgb(89, 4, 173);
}
.c7 {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: rgb(15, 14, 16);
}
.c5 {
  grid-row-end: 4;
  grid-row-start: 2;
  grid-column-start: 4;
  background-color: red;
}
.c8 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgb(191, 157, 225);
}
.c9 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(154, 96, 211);
}
.c10 {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: rgb(56, 32, 79);
}
